* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'karla', sans-serif;
  background-color: hsl(148, 38%, 91%);
  color: hsl(187, 24%, 22%);
  padding: 2rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: hsl(187,24%, 22%)
}

label {
   display: block;
   margin-top: 1rem;
   margin-bottom: 0.5rem;
   font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding:0.50rem;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color:hsl(169, 82%, 27%);
  }

    .consent-label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;

    }

    button {
    margin-top: 1.5rem;
    background-color: hsl(169, 82%, 27%);
     color: white;
     border: none;
     padding: 0.75rem 2rem;
     font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.error {
  color: hsl(0, 66%, 54%);
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  display: none;
}

.success {
  color: hsl(169, 82%, 27%);
  font-weight: bold;
  margin-top: 1rem;
  display: none;
}
